header {
    box-sizing: border-box;
    height: 5vh;
    width: 100vw;
    background-color: grey;
    display: flex;
}
ul {
    display: inline-flex;
    justify-content: space-between;
}

.main-content-1{
    background-color: black;
    height: 30vh;
    width: 100vw;
    text-align: center;
}
h2{
    color: yellow;
    
}